.plotControls {
  margin: 1px;
}


.paneControls {
  height: 18px;
  margin-left: 10px;
  font-size: small;
  align-content: center;

}

.measures {
  font-size: smaller;
  width: 100px;

}

.plotControlschkBox {
  padding-right: 30px;
    /*color: #e5ce8f; */
}

.notUsed {
  color: lavender
}

div#innerDataDiv {
  height: 500px;
  width: 700px;
  background-color: brown;
  border-radius: 10px;
  z-index: -20;
  position: fixed;
  box-shadow: inset 2px 2px 3px #999;
  overflow-y: scroll;


}



div#dataDiv {
  z-index: -20;
  position: fixed;
  top: 25px;
 
  height: 700px;
  width: 1150px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: brown;
  border-radius: 10px;

  display: block;

}

div#aboutDiv {

  width: 1200;
  height: 500;
}
.aboutBox {
  z-index: -30;
  background-color: #c0c0c0;
  color:#000040 ;
  width:1200;
  height: 500;
  top: 100;
  position: fixed; 
  border-radius: 10px;
  margin: 10%;
  text-align: center;
}

.infoStrip {
  z-index: -10;
  background-color: rgb(159, 157, 182);
  color: aliceblue;
  height: 400;
  top: 100;
  position: fixed;
  border-radius: 10px;
  margin-top: 100px;
  text-align: center;
}

div#datestamp {
  margin-left: 5%;
  font-size: larger;
  font-weight: bolder;
}

div#controlPane {
  width: 365px;
  background-color: #b6b8b7;
  margin-left: 2px;
  border-radius: 10px;
  align-content: center;



}



div#windhist {
  background-color: cadetblue;
  overflow: hidden;
  width: 1200px;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  margin-top: 2px;
  padding-top: 10px;

}

div#windplotsTop {

  background-color: cadetblue;
  overflow: hidden;
  width: 1200px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  margin-top: 2px;
  padding-top: 15px;
}

div#windplotDiv {
  margin-top: 2px;
  background-color: #f0f0f0;
  overflow: hidden;
  width: 1200px;
  height: 800px;
  border-radius: 10px;
}


table#dataDisplay {
  width: 90%;
  height: 80%;
  margin-left: 5%;
  margin-top: 8%;
  position: relative;

  /*  margin-bottom: 10%;
 /* overflow-y: scroll; 
  align-content: stretch; */
}




th {
  width: 100px;
  height: 1.5rem;
  border: 2px solid #000000;
  border-collapse: collapse;
  text-align: center;
  background-color: #ecececec;
  font-size: small;
  padding-left: 4px;
  padding-right: 2px;


}

td {
  width: 100px;
  height: 1.5rem;
  border: 2px solid #000000;
  border-collapse: collapse;
  text-align: center;
  background-color: #ecececec;
  font-size: small;
  padding-left: 4px;
  padding-right: 2px;


}

table thead th:first-child {
  position: sticky;
  left: 0;  
  z-index: 2;
}

th {
  background-color: #ebebeb;
  text-align: center;

}

thead,
tbody {
  display: block;
}



tbody {
  
  overflow: auto;
  max-height: 600px;
}

body {
  font-family: sans-serif;
  font-size: medium;

  /* padding: 1rem;*/
}

.refreshButton {

  appearance: auto;
  border: 0;
  width: 50%;
  margin-left: 20%;
  height: fit-content;
  border-radius: 5px;
  background: #484a49;
  color: #f8f8f8;
  padding: 4px 2px 4px 2px;
  font-size: 11.5px;


}

.bottombutton {
  appearance: auto;
  border: 0;
  width: 40%;
  border-radius: 5px;
  background: #484a49;
  color: #f8f8f8;
  padding: 4px 2px 4px 2px;
  font-size: 11.5px;
}

body {
  /* background-color: #b5c8d3; */
  background-color: #220202;
}